PORT= 3000
MONGODB_URI= mongodb://localhost:27017/rest_boilerplate
NODE_ENV= development

# JWT Configuration
JWT_ACCESS_SECRET=random
JWT_REFRESH_SECRET=random
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
